<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
<header>
    <app-bar></app-bar>
</header>
<main>
    <div id="message" class="alert alert-primary">
        A simple primary alert—check it out!
    </div>
    <movie-search></movie-search>
    <div id="movies-category">
        <movie-category class="popular"></movie-category>
        <movie-category class="now-playing"></movie-category>
        <movie-category class="top-rated"></movie-category>
    </div>
    <movie-detail></movie-detail>
</main>
</body>
</html>