body {
    background-color: rgb(30, 27, 48);
    font-family: cursive;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 80px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: coral;
}

.icon-bar {
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    width: 70px;
}


app-bar .navbar{
    background-color: coral;
    box-shadow: 0 4px 8px 0 tan;
}

movie-search {
    display: block;
    padding: 10px;
    margin: 10px;
}

movie-category {
    display: block;
    padding: 10px;
}

movie-category h3 {
    color: azure;
}

.container-cards {
    padding-top: 10px;
    margin: 5px;
    overflow-y: hidden;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

/* .container-cards :hover{
    transform: translateY(-5px);
    box-shadow: none;
} */

.container-cards::-webkit-scrollbar {
    width: 10px;
}

.container-cards::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.container-cards::-webkit-scrollbar-thumb {
    border-radius: 80px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}

.card-block {
    padding-top: 10px;
    align-items: center;
    box-shadow: 0 4px 8px 0 wheat;
	background-color: #fff;
	border: 1px;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 10px;
}

.card-block :hover {
    transform: translateY(-5px);
    box-shadow: none;
}

.poster {
    height: auto;
    width: 80%;
}

.poster-detail {
    float: left;
    width: 200px;
    padding-right: 10px;
}